.container
  .row
    %h3 Locational Clearance LC-#{@lc.id}
    %p
      Name: #{@lc.first_name} #{@lc.last_name.upcase}
    %p
      Mobile No.: #{@lc.mobile}
    %p
      Address: #{@lc.address}
    %p
      Map: HELLO MJ
