!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'ERPAT - Electronic Registry for Permit Assessment and Tracking'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Glados'}"}
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => false
    = csrf_meta_tags
  %body{:class => "#{controller_name} #{action_name}"}

    = render 'layouts/messages'
    = yield
    = javascript_include_tag '//maps.googleapis.com/maps/api/js?sensor=false', 'data-turbolinks-track' => false
    = javascript_include_tag 'application', 'data-turbolinks-track' => false
    = render 'layouts/page_specific_js'
